<% layout('layouts/authorised-boilerplate') %>

    <div class="card">
        <h5 class="card-header">
            <%= item.title %>
        </h5>
        <div class="card-body">
            <h3 class="card-title">
                <%= item.quantity %>
            </h3>
            <p class="card-text">
                <%= item.description %>
            </p>
            <a href="/items" class="btn btn-primary">Back to List</a>
            <a href="/items/<%=item._id%>/edit" class="btn btn-success">Edit</a>
        </div>